// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden{
  display: none;
}

.text-signup-message{
  font-size: 13px;
  color: gray;
}

.text-signup-message a:hover{
  background-color: transparent !important;
  color: black;
  text-decoration: none;
}

.card-body .btn-primary{
  color:white;
}

.jumbotron{
  font-family: "Roboto Light", sans-serif;  
}
